<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/base.css">
    <title>Online Biblioteka</title>
</head>
<body>
    <%- include('navigation') %>
    <div class="content">
    <h1>Prikaz knjiga: </h1>
    <% if(!books || books.length === 0) { %>
        <p> No books found </p>
    <% } else { %>
        <table>
            <tr>
                <th>Naslov</th>
                <th>Autori</th>
                <th>Kategorije</th>
            </tr>
            <% for(const book of books) { %>
                <tr>
                    <td><a href="/book/:<%= book.id %>"> <%= book.title %> </a></td>
                    <td><% for(const author of book.authors) { %>
                        <span><%= author.name %> </span>
                    <% } %></td>
                    <td><% for(const category of book.categories) { %>
                        <span><%= category.name %> </span>
                    <% } %></td>
                    </tr>
            <% } %>
        </table>
        
    <% } %>
    
    <a href="/new-book">Dodaj novu knjigu</a>
    </div>
</body>
</html>