<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/form.css">
    <title>Online Biblioteka</title> 
</head>
<body>
    <%- include('navigation') %>
    <div class="content">
        <form action="/edit/:<%= book.id %>" method="POST">
            <div>
                <label for="title">Naziv knjige:</label>
                <input type="text" id="title" name="title" value="<%=book.title %>">
            </div>
            <div>
                <label for="summary">Kratak sadržaj:</label>
                <textarea name="summary" id="summary" cols="30" rows="10" ><%=book.summary %></textarea>
            </div>
            <div>
                <label for="page_count">Broj strana :</label>
                <input type="number" id="page_count" name="page_count" value="<%=book.page_count %>">
            </div>
            <div>
                <label for="release_year">Godina Izdavanja: </label>
                <input type="number" name="release_year" id="release_year" value="<%=book.release_year %>">
            </div>
            <div>
                <label for="category">Izaberite kategorije: </label>
                <select id="category" name="category" multiple value="<%=book.categories %>">
                    <option value="1">Roman</option>
                    <option value="2">Udžbenik</option>
                    <option value="3">Horor</option>
                    <option value="4">Naučna Fantastika</option>
                    <option value="5">Ljubavni</option>
                </select>
            </div>
            <div>
                <label for="authors">Izaberite autore: </label>
                <input type="text" name="authors" id="authors" value="<%=book.authors[0].name %>">
                <br>
                <input type="text" name="authors1" id="authors1">
                <br>
                <input type="text" name="authors2" id="authors2">
            </div>
            
            
            <div>
                <label for="language">Jezik: </label>
                <select id="language" name="language" selected="<%= book.languageId %>">
                    <option value="1">Crnogorski</option>
                    <option value="2">Srpski</option>
                    <option value="3">Engleski</option>
                    <option value="4">Ruski</option>
                    <option value="5">Francuski</option>
                </select>
            </div>
            <div>
                <label for="letter">Pismo: </label>
                <select id="letter" name="letter" selected="<%= book.letter %>">
                    <option value="1">Ćirilica</option>
                    <option value="2">Latinica</option>
                </select>
            </div>
            <div>
                <label for="binding">Povez: </label>
                <select id="binding" name="binding" selected="<%= book.binding %>">
                    <option value="1">Tvrdi Povez</option>
                    <option value="2">Meki Povez</option>
                </select>
            </div>
            <div>
                <label for="format">Format: </label>
                <select id="format" name="format" selected="<%= book.format %>">
                    <option value="1">A3</option>
                    <option value="2">A4</option>
                    <option value="3">A5</option>
                </select>
            </div>
            <div>
                <label for="isbn">ISBN: </label>
                <input type="text" id="isbn" name="isbn" value="<%= book.isbn %>">
            </div>

                <input type="submit" value="Send">
        </form>
        <a href="/delete/:<%= book.id %>">Izbriši knjigu</a>
</div>
</body>
</html>